//------------------------------- Main --------------------------
.main{
    position: absolute;
    height: 250%;
}

.bg-image-1{
    background-image: url(/chicken/static/src/img/main-pic-pizza.png);
    background-size: cover;
}
.bg-image-2{
    background-color: #E5E5E5;
}
//---------------------------------------------------------------
//----------------------------- 1 -------------------------------
.text-nav{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    // white-space: nowrap;
    font-size: 24px;
    line-height: 28px;
}
.name-text-nav{
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}
.white{
    color: #F3F3F3;
}
.map{
    height: 30px;
}
.num-busket{
    /* Ellipse 2 */
    background: #E63A3A;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: -13px;
    left: 36px;
    position: absolute;
    z-index: 10;
}
.back-cart{
    padding: 10px;
    background: #CC7700;
    width: 153px;
    height: 64px;
    border-radius: 15%;
}
.back-cart:active {
    transition-duration: 100ms;
    transform: translateY(4px);
}
.busket-price{
    margin-top: 10px;
}
@media(max-width: 1366px){
    .busket-price{
        margin-left: 64% !important;
        margin-top: 7px !important;
        margin-top: 10px;
    }
}
.main-text{
    color: white;
    margin-left: 19%;
    font-size: 64px;
}
.sign-logo{
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 52px;
}
.sign-second{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    display: block;
    line-height: 42px;
    white-space: nowrap;
}
.mg-top{
    margin-top: 9%;
}
@media(min-width: 1367px){   
    .mg-top{
        margin-top: 15%;
    }
}
.rect{
    width: 317px;
    height: 158px;
    padding: 5%;
    background: #383838;
}
.rect-sign{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #F3F3F3;
}
.rect-sign-muted{
    color: #949494;
}
.plus-abs:active {
    transition-duration: 100ms;
    transform: translateY(4px);
}
.red-plus-pic{
    width: 33px;
    height: 33px;
}
.contacts{
    position: absolute;
    bottom: 14%;
    width: 30px;
    margin-left: 7%;
}
@media(max-width: 1366px){
    .contacts{
        position: absolute;
        bottom: 5%;
        left: 0%;
        width: 30px;
    }
}
.social{
    margin-top: 25px;
    margin-bottom: 25px;
}
.social:active {
    transition-duration: 100ms;
    transform: translateY(4px);
}
.order-button-text{
    padding: 8%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.main-chicken{
    position: absolute;
    right: 0;
    bottom: -5%;
}
@media(max-width: 1366px){
    .main-chicken{
        width: 45%;
    }
}
//---------------------------------------------------------------
//----------------------------- 2 -------------------------------
.choose-menu{
    background-color: white;
    height: 64px;
    border-radius: 20px;
}
.item-menu{
    height: 90%;
}
.white-back{
    background-color: white;
}
.sub-text-2{
    font-size: 18px;
}
.struct-text{
    font-size: 10px;
}
.text-price{
    font-size: 18px;
}
.add-button{
    font-size: 16px;
    background-color: #CC7700;
    border-radius: 10%;
}
.orange{
    color: #CC7700;
}

.kopch{
    background-image: url(/chicken/static/src/img/kopch.png);
    background-size: 100% 100%;
}
.kopch-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 164%;
    line-height: 156%;
    color: #FFFFFF;
}
.kopch-title{
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 270%;
    line-height: 48px;
    color: #FFB949;
}
.order-button{
    width: 207px;
    height: 64px;
    background: #E63A3A;
    box-shadow: 0px 0px 10px 1px #FE3A3A;
    border-radius: 28px;
}
.order-button:active {
    transition-duration: 100ms;
    transform: translateY(4px);
}
.order-button:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 30px 1px #FE3A3A;
}

@media(min-width: 1367px){
    .kopch-order-button{
        margin-top: 5%;
    }
    .kopch-title{
        font-size: 48px;
        line-height: 48px;
        margin-top: 8%;
    }
    .kopch-text{
        font-size: 36px;
        line-height: 42px;
        margin-top: 5%;
    }
}

.menu-pic{
    height: 40px;
}
.text-2{
    font-size: 42px;
}
//---------------------------------------------------------------

//----------------------------- 3 -------------------------------

.pool-1{
    background-image: url(/chicken/static/src/img/pool1.png);
    background-size: cover;
}
.pool-2{
    background-image: url(/chicken/static/src/img/pool2.png);
    background-size: cover;
}
.pool-3{
    background-image: url(/chicken/static/src/img/pool3.png);
    background-size: cover;
}
.pool-4{
    background-image: url(/chicken/static/src/img/pool4.png);
    background-size: cover;
}
.pool-5{
    background-image: url(/chicken/static/src/img/pool5.png);
    background-size: cover;
}
.pool-6{
    background-image: url(/chicken/static/src/img/pool6.png);
    background-size: cover;
}
.pool-7{
    background-image: url(/chicken/static/src/img/pool7.png);
    background-size: cover;
}
.pool-8{
    background-image: url(/chicken/static/src/img/pool8.png);
    background-size: cover;
}
.pool-item{    
    border: 15px solid black;
}
.pool-item:hover {
    .pool-text{
        color: #FFB949;
    }
    border: 0px solid black;
    transition: all 0.3s ease-in-out;
}
.pool-behind-block{
    background: rgba(0, 0, 0, 0.4);
}
.pool-text {
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    height: auto;
    font-size: 200%;
    line-height: 52px;
    margin-top: 40%;
}
@media(min-width: 1367px){
    .pool-text{
        font-size: 500%;
        padding-bottom: 7%;
        padding-top: 7%;
    }
}
.pool-label{
    width: 401px;
    height: 52px;
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 52px;
    color: #FFB949;
}
.palka{
    width: 93px;
    height: 0px;
    border: 3px solid #FFB949;
}
.FFF9F0{
    color: #FFF9F0;
}
.about-as{
    font-size: 64px;
}
.text-3{
    font-size: 36px;
}
.sub-text-3{
    font-size: 24px;
}
//---------------------------------------------------------------

//----------------------------- 4 -------------------------------
.text-4{
    font-size: 36px;
}
.sub-text-4{
    font-size: 24px;
}
.pics-4{
    width: 500px;
}
//---------------------------------------------------------------

//----------------------------- 5 -------------------------------
.bg-image-map{
    background-image: url(/chicken/static/src/img/map.png);
    background-size: cover;
}
.text-5{
    font-size: 36px;
}
.sub-text-5{
    font-size: 24px;
}
.sub-text-5-1{
    font-size: 18px;
}
.social{
    height: 40px;
}
.social:active {
    transition-duration: 100ms;
    transform: translateY(4px);
}
//---------------------------------------------------------------

//------------------------------- Help --------------------------
.h-80{
    height: 80% !important;
}
.h-70{
    height: 60% !important;
}
.h-60{
    height: 60% !important;
}
.h-45{
    height: 45% !important;
}
.h-40{
    height: 40% !important;
}
.h-33{
    height: 33.3% !important;
}
.h-37{
    height: 37% !important;
}
.h-20{
    height: 20% !important;
}
.h-17{
    height: 17% !important;
}
.h-10{
    height: 10% !important;
}
.h-8{
    height: 8% !important;
}
.h-6{
    height: 6% !important;
}
.h-2{
    height: 2% !important;
}
.green{
    background: green;
}
.mg-l-150{
    margin-left: 150px !important;
}
.mg-l-25{
    margin-left: 25% !important;
}
.mg-r-25{
    margin-right: 25% !important;
}
.mg-l-7{
    margin-left: 7%;
}
.mg-l-0{
    margin-left: 0px;
}
.mg-t-20p{
    margin-top: 20px;
}
.mg-t-10{
    margin-top: 10%;
}
.mg-t-4{
    margin-top: 4px;
}
.pd-l-25{
    padding-left: 25% !important;
}
.pd-r-25{
    padding-right: 25% !important;
}
.pd-l-10{
    padding-left: 10%;
}
.pd-r-10{
    padding-right: 10%;
}
.pd-l-3{
    padding-left: 3%;
}
.pd-r-3{
    padding-right: 3%;
}
.pd-l-8em{
    padding-left: 8em;
}
.pd-r-8em{
    padding-right: 8em;
}
.pd-l-r-20{
    padding-left: 20%;
    padding-right: 20%;
}
.pd-l-r-10{
    padding-left: 10%;
    padding-right: 10%;
}
.pd-l-r-0{
    padding-left: 0%;
    padding-right: 0%;
}
.top-15{
    top: 15%;
}
.z-index-102{
    z-index: 102;
}
.z-index-101{
    z-index: 101;
}
.z-index-10{
    z-index: 10;
}
.hid{
    display: none;
}
.orange-back{
    background-color: #CC7700;
    transition: 0.4s;
}
.text-center{
    text-align: center;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
//---------------------------------------------------------------
//-------------------------- Poopup ------------------------------
$primary: #E63A3A;
$secondary: #FFB949;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
.pd-30{
    padding: 30px;
}
.save{
    margin-top: 6%;
}
.back-poopup{
    background: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: fixed;
}
.poopup{
    background: black;
    opacity: 1;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    position: fixed;
}
//---------------------------------------------------------------
