// ----------------------- temp -----------------------
.temp-nav{
    background-color: black;
    opacity: 0.4;
}

.temp-main{
    background-color: pink;
}

.temp-main-cont{
    padding-right: 0px;
    padding-left: 0px;
    position: fixed;
}
//---------------------------------------------------------------

// ----------------------- Top navbar desctop -----------------------
#navbar{
    height: 15% !important;
    color: red;
}

.mg-left-0{
    margin-left: 0px;
}

.main-text-logo{
    font-size: 32px;
}

.text-nav{    
    font-size: 20px;
}
//---------------------------------------------------------------

// ----------------------- Main part desctop -----------------------
#main-part{
    height: 85% !important;
}

.center-shit{
    position: fixed;
    top: 50%;
    left: 50%;
}

.contacts{
    position: fixed;
    bottom: 10%;
}
//---------------------------------------------------------------
